<div id="filter-block" class="small-12 medium-6 large-3">
    <div class="row">
        <h3 style="margin-top: 10px;" class="small-12 columns">
            Filter cards
        </h3>
    </div>
    <form>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <input type="text" placeholder="type to filter" data-ng-model="query" style="margin-bottom: 0"/>
            </div>
        </div>
    </form>
    <div class="row">
        <h4 class="small-12 columns" style="margin-top: 20px;">
            Labels
        </h4>
    </div>
    <div class="row collapse">
        <ul class="side-nav">
            <li data-ng-class="{active: contains(filter.tags, '~')}">
                <a href="#" data-ng-click="filter.apply('~')">
                    <i class="fa fa-check"></i>
                    <span class="medium-text-left">
                        No label
                    </span>
                </a>
            </li>
            <li data-ng-repeat="label in filter.labels|filter:query"
                data-ng-class="{active: contains(filter.tags, '~'+label.name)}">
                <a href="#" data-ng-click="filter.apply('~'+label.name)">
                    <i class="fa fa-check"></i>
                    <span class="label medium-text-left" style="background-color: {{ label.color }}">
                        {{ label.name }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <hr/>
    <div class="row">
        <h4 class="small-12 columns">
            Milestones
        </h4>
    </div>
    <div class="row collapse">
        <ul class="side-nav">
            <li data-ng-class="{active: contains(filter.tags, '^')}">
                <a href="#" data-ng-click="filter.apply('^')">
                    <i class="fa fa-check"></i>
                    <span class="medium-text-left">
                        No milestone
                    </span>
                </a>
            </li>
            <li data-ng-repeat="milestone in filter.milestones|filter:query"
                data-ng-class="{active: contains(filter.tags, '^'+milestone.id)}">
                <a href="#" data-ng-click="filter.apply('^'+milestone.id)">
                    <i class="fa fa-check"></i>
                    <span class="medium-text-left">
                        {{ milestone.title }}
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <hr/>
    <div class="row">
        <h4 class="small-12 columns">
            Users
        </h4>
    </div>
    <div class="row collapse">
        <ul class="side-nav">
            <li data-ng-class="{active: contains(filter.tags, '@')}">
                <a href="#" data-ng-click="filter.apply('@')">
                    <i class="fa fa-check"></i>
                    <span class="medium-text-left">
                        No user
                    </span>
                </a>
            </li>
            <li data-ng-repeat="user in filter.users|filter:query"
                data-ng-class="{active: contains(filter.tags, '@'+user.id)}">
                <a href="#" data-ng-click="filter.apply('@'+user.id)">
                    <i class="fa fa-check"></i>
                    <span class="meduim-text-left">
                    <img data-ng-src="{{ user.avatar_url }}" width="32" height="32" style="border-radius: 50%"/>&nbsp;
                        {{ user.name }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <a href="#" class="button expand" data-ng-click="filter.clear()">
                Clear filters
            </a>
        </div>
    </div>
</div>
