<!doctype html>
<html data-ng-app="gitlabKBApp" data-ng-strict-di>

<head>
    <base href="/">
    <title-placeholder data-ui-view="title">
        <title>GitLab KB - Boards</title>
    </title-placeholder>

    <script type="text/javascript">
        var CLIENT_VERSION = '{{ .Version }}';
        var GITLAB_HOST = '{{ .GitlabHost }}';
        var ENABLE_SIGNUP = {{.EnableSignup}};
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/app.css">
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/ng-sortable.min.css">
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/loading-bar.css">
</head>

<body>
    <div data-ui-view></div>

    <script src="/{{ .Version }}/assets/js/angular.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-ui-router.js"></script>
    <script src="/{{ .Version }}/assets/js/ng-sortable.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-storage.js"></script>
    <script src="/{{ .Version }}/assets/js/underscore.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-underscore.js"></script>
    <script src="/{{ .Version }}/assets/js/markdown-it-emoji.min.js"></script>
    <script src="/{{ .Version }}/assets/js/markdown-it.js"></script>
    <script src="/{{ .Version }}/assets/js/reconnecting-websocket.js"></script>
    <script src="/{{ .Version }}/assets/js/angularjs-datepicker.min.js"></script>
    <script src="/{{ .Version }}/assets/js/twemoji.min.js"></script>

    <script src="/{{ .Version }}/assets/js/transition.js"></script>
    <script src="/{{ .Version }}/assets/js/position.js"></script>
    <script src="/{{ .Version }}/assets/js/bindHtml.js"></script>
    <script src="/{{ .Version }}/assets/js/typeahead.js"></script>
    <script src="/{{ .Version }}/assets/js/mediaQueries.js"></script>
    <script src="/{{ .Version }}/assets/js/dropdownToggle.js"></script>
    <script src="/{{ .Version }}/assets/js/topbar.js"></script>
    <script src="/{{ .Version }}/assets/js/app.min.js"></script>
    <script src="/{{ .Version }}/assets/js/loading-bar.js"></script>

</body>

</html>
