@import "foundation/functions";

.button {
    font-weight: 300;
    letter-spacing: rem-calc(0.5);
    &.secondary {
        font-weight: 400;
    }
    &.tiny {
        .fa {
            font-size: rem-calc(14);
        }
    }
}

