@import "mixins";
@import "foundation/functions";

$filter-block-color: #fff;
$filter-block-background: #2f4050;
$filter-block-link-color: #0274cb;
#filter-block {
    position: fixed;
    overflow-y: scroll;
    top: 45px;
    bottom: 0;
    right: 0;
    background: $filter-block-background;
    @include shadow-6dp;
    h1, h2, h3, h4, h5 {
        color: $filter-block-color;
        font-weight: 200;
        letter-spacing: rem-calc(0.5);
    }
    hr {
        border-color: rgba($filter-block-color, 0.2);
        margin: rem-calc(6) 0 rem-calc(14) 0;
    }

    input {
        border-color: $filter-block-background;
        padding-left: ($column-gutter / 2);
        padding-right: ($column-gutter / 2);
    }
    .button {
        margin-top: rem-calc(20);
    }
    .side-nav {
        padding: 0;
        li {
            margin: 0;
            .fa-check {
                display: none;
                position: absolute;
                left: 8px;
                top: 50%;
                margin-top: -7px;
            }
            &.active {
                .fa-check {
                    display: block;
                }
                a {
                    color: rgba($filter-block-color, 0.8);
                    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
                    &:hover {
                        color: $filter-block-color;
                        &:before {
                            background: rgba(#000, 0.4);
                        }
                    }
                    &:before {
                        background: rgba(#000, 0.2);
                    }
                }
            }
        }
        a {
            position: relative;
            padding: rem-calc(5 10 5 30);
            font-weight: 200;
            color: rgba($filter-block-color, 0.7);
            cursor: pointer;
            span, i {
                position: relative;
                z-index: 1;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
            &:hover {
                color: $filter-block-color;
                &:before {
                    background: rgba(#000, 0.4);
                }
            }
        }
    }

}
