$placeholder-font-weight: 300 !default;
::-webkit-input-placeholder {
    font-weight: $placeholder-font-weight;
}

::-moz-placeholder {
    font-weight: $placeholder-font-weight;
}

/* Firefox 19+ */
:-moz-placeholder {
    font-weight: $placeholder-font-weight;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-weight: $placeholder-font-weight;
}
