@import "mixins";
body{
    &.modal-open{
        overflow: hidden;
    }
    .reveal-modal{
        background: $reveal-overlay-bg;
        overflow-y: scroll;
        padding: 0;
        .reveal-modal-bg{
            z-index: -1;
            display: block;
            background-color: transparent;
        }
        .body-modal{
            @include shadow-8dp;
        }
        @media only screen and (max-width: $row-width) {
            .body-modal{
              background-color: $white;
              padding: 0 0 10px 0;
              max-width: $row-width;
              margin: 0;
              min-height: 100%;
            }
        }

        @media only screen and (min-width: $row-width) {
            .body-modal{
              background-color: $white;
              padding: 30px;
              max-width: $row-width;
              margin: 100px auto 50px auto;
            }

        }
    }
}
