@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300&subset=latin,cyrillic-ext,cyrillic);
@import "foundation/functions";
@import "normalize";
@import "settings";
@import "foundation";
@import "font-awesome";
@import "flex";
@import "boards";
@import "avatars";
@import "modal";
@import "card";
@import "mixins";
@import "mdeditor";
@import "datepicker";
@import "top-bar";
@import "emoji";
@import "filter-block";
@import "buttons";
@import "input";

body {
    @extend body;
    height: auto;
    background: #ececec;
    letter-spacing: rem-calc(0.5);
}

h1, h2, h3 {
    &, &.subheader{
        font-weight: 300;
    }
}

input.todo-field {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}

textarea, input {
    box-shadow: none !important;
}

.checklist {
    input[type="checkbox"]:checked + span + span {
        text-decoration: line-through;
        color: $aluminum;
    }
    input[type="checkbox"] {
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 0;
        & + span + span {
            color: $steel;
        }
    }
    .checkline {
        margin-bottom: 1rem;
    }
    input[type="text"][disabled] {
        border-color: $white;
        color: $smoke;
        background-color: $white;
    }
}

.label {
    letter-spacing: 1px;
    box-shadow: 0 1px 2px -1px rgba(#000, 0.6);
}

.board-stage {
    position: relative;
}

.row.participants {
    .columns {
        height: 30px;
        padding-right: 10px;
    }
}

.panel.column-header {
    border: none;
    margin-bottom: 0;
    position: relative;
    background: #fdfdfd;

    h4 {
        font-size: 0.9rem;
        text-transform: uppercase;
    }
}

.arrow {
    content: '';
    border-style: solid;
    border-width: 50% 0 50% 30px;
    border-color: transparent transparent transparent #007bff;

    top: 0;
    bottom: 0;
    right: 0px;
}

.as-sortable {
    &-item {
        border: none !important;
        border-radius: 0 !important;
        margin: 0 !important;
        border-bottom: solid 1px #bbb !important;
        &:last-child {
            margin-bottom: -1px !important;
        }
        background: #fff !important;
    }
    &-dragging {
        @include shadow-4dp;
    }
    &-placeholder {
        margin: 0 !important;
        border: none !important;
        background: rgba(0, 0, 0, 0.45);
        height: auto !important;
        bottom: 0;
        z-index: 10 !important;
        position: absolute !important;
        top: 0 !important;
        width: auto !important;
        left: 0;
        right: 0;
    }
}

#issues-list {
    height: 100vh;
    overflow-y: auto;
    padding-left: 0;

    .panel {
        margin-bottom: 0;
    }
}

#issue {
    height: 100vh;
    padding-left: 0;
    overflow-y: scroll;
}

.description {
    padding: 20px;
}

.board-issue-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#loading-bar-spinner {
    right: 15px;
    top: 15px !important;
    left: auto !important;
}

#loading-bar .bar {
    height: 4px !important;
}

fieldset {
    background: #fff;
}

.off-canvas-wrap {
    min-height: 100vh;

    .inner-wrap {
        min-height: 100vh;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.img-round {
    border-radius: 50%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-footer {
    padding-top: 30px;
}

.loading {
    opacity: 0.5;
}

.body-modal {
    h6 {
        color: #666;
        font-weight: 300;
    }
}

#loading-bar .bar {
    background-color: $white !important;
    border: 1px solid #259CC3 !important;
    height: 4px !important;
}
